<section class="banner">
  <section class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <article class="banner-form">
          <h1>Abra sua conta no banco mais vigoroso do Brasiiiilll!!</h1>
          <h2>10 dias sem juros no limite da conta¹, cartão com anuidade zero e muito mais.</h2>
          <form action="" class="form-inline d-flex">
            <div class="input-group input-group-lg">
              <input type="text" name="" id="" class="form-control banner-form-input" placeholder="Digite o seu CPF">
            </div>
            <button class="btn btn-danger">Abra a sua conta</button>
          </form>
        </article>
      </div>
    </div>
  </section>
</section>
