<section class="banner">
  <section class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <article class="banner-form">
          <h1>Abra sua conta no banco mais vigoroso do Brasiiiilll!!</h1>
          <h2>10 dias sem juros no limite da conta¹, cartão com anuidade zero e muito mais.</h2>
          <form>
            <div class="form-floating mb-3 d-flex justify-content-space-between align-items-center">
              <input type="cpf" class="form-control" id="floatingInput" placeholder="000.000.000-00">
              <label for="floatingInput">Digite o seu CPF</label>
              <button type="submit" class="btn btn-danger">Abra a sua conta</button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </section>
</section>
